body, html {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li, a {
  font-family: 'Titillium Web', sans-serif;
}

.container {
  width: 1100px;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
}

/* CSS for the main navigation */

nav {
  position: fixed;
  z-index: 200;
  background: rgba(44, 63, 80, 0.8);
  width: 100%;
  
}

nav .container {
  position: fixed;
  height: 62px;
  top: 0;
  left: 50%;
  margin-left: -550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  justify-content: flex-end;
}

nav .container a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  margin-right: 40px;
  transition: all 0.4s;
  padding: 0 0 5px 0;
  border-bottom: solid rgba(255, 255, 255, 0) 2px;
  transition: all 0.4s;
}

nav .container a:hover {
  transition: all 0.4s;
  border-bottom: solid white 2px;
}

nav .container a.active {
  transition: all 0.4s;
  border-bottom: solid white 2px;
}

nav.container::after {
    content: "";
    clear: both;
    display: table;
}

/* CSS for the mobile menu */
.mobile-menu {
  color: #fff;
  background: rgba(44, 63, 80, 0.8);
  position: fixed;
  z-index: 300;
  display: none;
  width: 100%;
}

.mobile-menu-wrapper {
  width: 100%;
  height: auto;
  top: 0;
}

.mobile-menu .container  a {
  text-decoration: none;
  color: #fff;
}

.mobile-menu .container  a.toggle {
  font-size: 1.5rem;
  padding: 10px 0;
  display: block;
}

.menu-items {
  font-size: 1.2rem;
  padding-bottom: 40px;
  display: none;
  opacity: 0;
  transform: scale(1, -1);
  transition: all 0.4s;
}

.menu-items a {
  display: block;
  text-align: center;
  padding: 10px 0;
  border-bottom: solid white 1px;
}

/* CSS for the header section */
.main-header {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(to bottom right,rgba(44, 63, 80, 0.8),rgba(44, 63, 80, 0.8)), url('images/main-header.jpg');
  background-position-y: center;
  background-size: cover;
  overflow: hidden;
  padding: 60px 0 40px 0;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.main-header h1 {
  font-size: 2.2rem;
  color: #fff;
  font-weight: 600;
  margin-top: 0;
  display: block;
}

.main-header h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  margin-top: 0;
  display: block;
}

.main-header .typed-cursor {
  display: none;
}

/* CSS for the about section */

.about-section {
  padding: 60px 0 60px 0;
  background: #efefef;
}

.about-section .container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.about-left-side {
  width: 60%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}

.about-left-side h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #293347;
  margin-top: 0;
}

.about-left-side p {
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 0;
}

.about-left-side a.email {
  color: #293347;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 0;
}

.about-right-side {
  width: 40%;
  padding: 10px;
  height: auto;
  box-sizing: border-box;
  text-align: center;
}

.about-right-side img {
  width: 100%;
  max-width: 250px;
  border-radius: 5px;
}

/* CSS for the porfolio section */

.portfolio-items {
  text-align: center;
  padding: 60px 0 60px 0;
}

.portfolio-items h1 {
  color: #293347;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.7rem;
  margin-top: 0;
}

.portfolio-items p {
  font-weight: 300;
  color: #4a4a4a;
  margin-top: 0;
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.portfolio-items-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.portfolio-card {
  width: calc((100% / 3) - 20px);
  height: 240px;
  padding: 10px;
  overflow: hidden;
}

a.portfolio-card-inner {
  display: block;
  text-decoration: none;
}

.portfolio-card-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  border-radius: 5px;
}

.portfolio-card-inner:hover > .portfolio-card-inner-content {
  opacity: 1;
  transition: all 0.4s;
  transform: translate(0, 0) scale(1,1);
}

.portfolio-card-inner-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 0.4s;
  transform: translate(0, 100%) scale(1, 0);
}

.portfolio-card-inner-content h2 {
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  margin: auto 0;
  padding: 0;
}

.portfolio-card-inner-content p {
  color: #fff;
  font-size: 0.9rem;
  margin-top: 0;
}

.portfolio-card-inner-content-btn {
  color: #fff;
  text-decoration: none;
  padding: 0.6rem 1.5rem;
  border: solid white 2px;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 0.3s;
  width: auto;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  align-self: flex-end;
  margin: auto auto 0 auto;
  border-radius: 5px;
}

.portfolio-card-inner-content-btn:hover {
  background-color: #21c2f8;
  border-color: #21c2f8;
  transition: all 0.3s;
}

/* CSS for the skills section */

.my-skills {
  padding: 60px 0;
  background: linear-gradient(to bottom right,rgba(44, 63, 80, 0.7),rgba(44, 63, 80, 0.7)), url('images/background-skills.jpg') center center no-repeat;
  background-size: cover;
  background-position-y: center;
  text-align: center;
}

.my-skills h1 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.7rem;
  margin-top: 0;
  color: #fff;
}

.my-skills p {
  font-weight: 300;
  color: #fff;
  margin-top: 0;
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.my-skills-row {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  width: calc(100% / 5);
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.skill-inner {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  text-align: center;
  border: solid white 1px;
  transition: all 0.4s;
  border-radius: 5px;
}

.skill-inner img {
  max-width: 50px;
  margin-top: 40px;
}

.skill-inner p {
  font-size: 1rem;
  color: #fff;
  margin: 20px 0 40px 0;
}

.skill-inner:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}

.skill-inner:hover > .bw-logo {
  opacity: 0;
  transition: all 0.4s;
  display: none;
}

.skill-inner:hover > .c-logo {
  opacity: 1;
  transition: all 0.4s;
  display: inline-block;
}

.skill-inner img.bw-logo {
  opacity: 1;
  transition: all 0.4s;
  display: inline-block;
}

.skill-inner img.c-logo {
  opacity: 0;
  transition: all 0.4s;
  display: none;
}

.social-section {
  padding: 60px 0;
  text-align: center;
}

.social-section h1 {
  color: #293347;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.7rem;
  margin-top: 0;
}

.social-section p {
  font-weight: 300;
  color: #4a4a4a;
  margin-top: 0;
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}
.social-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.social-section li {
  font-size: 2.5rem;
  text-align: center;
  padding: 0 30px;
  display: block;
  transition: all 0.4s ease;
}

.social-section li a {
  display: block;
  text-decoration: none;
  color: #293347;
}

.social-section li:hover {
  transform: translateY(-20px);
  transition: all 0.4s ease;
}

.social-section li p.social-chan-hidden-text {
  font-size: 1rem;
  margin-bottom: 0;
}
/* making everything responsive */
@media only screen and (min-device-width : 300px) and (max-device-width : 480px) {
  .container {
    width: 280px;
  }

  nav {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .mobile-menu .container {
    margin: 0 auto;
  }

  .mobile-menu .container a.toggle {
    font-size: 1.5rem;
    color: #fff;
  }

  /* about section */
  .about-section .container {
    flex-flow: column;
  }
  .about-left-side {
    width: 100%;
  }

  .about-right-side {
    display: none;
  }

  /* portfolio section */

  ul.portfolio-items-container {
    flex-direction: column;
  }

  .portfolio-card {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  /* skills section */
  .skill {
    width: calc(100% / 2);
    padding: 0px 10px;
  }

  .skill-inner p {
    font-size: 0.9rem;
    margin: 20px 0px 20px 0px;
  }

  .skill-inner img {
    margin-top: 20px;
  }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 666px) {
  .container {
    width: 460px;
  }

  nav {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .mobile-menu .container {
    margin: 0 auto;
  }

  .mobile-menu .container a.toggle {
    font-size: 1.5rem;
  }

  /* UNTIL 666PX HIDE THE MAIN MENU BAR. MAKE A MOBILE ONE FOR GOD SAKE */

  /* about section */
  .about-section .container {
    flex-flow: column;
  }
  .about-left-side {
    width: 100%;
  }

  .about-right-side {
    display: none;
  }

  ul.portfolio-items-container {
    flex-direction: row;
  }

  .portfolio-card {
    width: calc(50% - 20px);
  }

  /* skills section */
  .skill {
    width: calc(100% / 3);
    padding: 0px 10px;
  }

  .skill-inner p {
    font-size: 0.9rem;
    margin: 20px 0px 20px 0px;
  }

  .skill-inner img {
    margin-top: 20px;
  }
}

@media only screen and (min-device-width : 667px) and (max-device-width : 767px) {
  .container, nav .container {
    width: 650px;
  }

  nav .container {
    margin-left: -325px;
    justify-content: center;
  }

  /* about section */
  .about-section .container {
    flex-flow: column;
  }
  .about-left-side {
    width: 100%;
  }

  .about-right-side {
    display: none;
  }

  ul.portfolio-items-container {
    flex-direction: row;
  }

  .portfolio-card {
    width: calc(50% - 20px);
  }

  /* skills section */
  .skill {
    width: calc(100% / 3);
    padding: 0px 10px;
  }

  .skill-inner p {
    font-size: 0.9rem;
    margin: 20px 0px 20px 0px;
  }

  .skill-inner img {
    margin-top: 20px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1099px) {
  .container {
    width: 750px;
  }

  /* about section */
  .about-left-side {
    width: 70%;
  }

  .about-right-side {
    width: 30%;
  }

  ul.portfolio-items-container {
    flex-direction: row;
  }

  .portfolio-card {
    width: calc((100% / 3) - 20px);
  }

  /* skills section */
  .skill {
    width: calc(100% / 4);
    padding: 0px 10px;
  }

  .skill-inner p {
    font-size: 0.9rem;
    margin: 20px 0px 20px 0px;
  }

  .skill-inner img {
    margin-top: 20px;
  }
}
